body {
  padding: 50px;

  background-image: url("../images/moh.jpg");
}
.container {
  background-color: #aca4b9;
  padding: 30px;
  opacity: 0.86;
  border-radius: 35px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
h1 {
  color: #2b2727;
  text-align: center;
  margin-bottom: 30px;
}
.form-group {
  margin-bottom: 20px;
}

.sousrce {
  font-family: monospace;
  font-size: x-large;
  margin-top: 5px;
}
#moh-offices {
  margin-top: 30px;
}
.moh-office {
  background-color: #f9f9f9;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.moh-office h4,
.moh-office p {
  display: inline;
  margin-right: 10px;
}
/* Add the following CSS code to your "moh.css" file */

/* Show all options when hovering over the select element */
#district:hover option {
  display: block;
}

/* Apply animation to list items */
.moh-office {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-in-out forwards;
}
.show-all-options .select2-results__option {
  display: list-item !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#district option {
  display: none;
}

/* Show all options when hovering over the dropdown */
#district:hover option {
  display: block;
}
