body {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  animation: changeBackgroundColor 7s infinite;
  background-color: #333;
}
/* @keyframes changeBackgroundColor {
  0% {
    background-color: #001f3f;
  }
  50% {
    background-color: #ff4136;
  }
  100% {
    background-color: #001f3f;
  }
} */
.container {
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  opacity: 90%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.title {
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
  font-size: 3rem;
}

/* h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
} */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  margin-top: 10px;
  color: #555;
  font-weight: bold;
}

input[type="number"],
input[type="range"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  font-size: 18px;
}
#heightValue {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  color: #555;
}

/* Styling for the slider thumb value display */
#height::-webkit-slider-thumb::after {
  content: attr(
    data-value
  ); /* Use the 'data-value' attribute to display the value */
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #fff;
  padding: 2px 6px;
  background-color: #007bff;
  border-radius: 3px;
}

/* CSS */
.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}
